/* Очень большие экраны (от 1921px и выше) */
@media screen and (min-width: 1921px) {
  /* Стили для экранов шире 1920px */
}

/* Большие экраны (от 1441px до 1920px) */
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  /* Стили для экранов от 1441px до 1920px */
}

/* Средние экраны (от 769px до 1440px) */
@media screen and (min-width: 769px) and (max-width: 1440px) {
  /* Стили для экранов от 769px до 1440px */
}

/* Планшеты (от 415px до 768px) */
@media screen and (min-width: 415px) and (max-width: 768px) {
.section_first{
height: 52vw;
}

.blue_allo {
height: 50vw;
z-index: 3;
}

.allo{
width: 150%;
}

.black_horizontal_rec{
height: 20vw;
margin-top: 45vw;
z-index: 2;
}

.black_horizontal_rec h1{
font-size: 3.5vw;}







}

/* Мобильные устройства (до 414px) */
@media screen and (max-width: 414px) {
.section_first {}
.blue_allo {
width: 100vw;
height: 40vw;
position: absolute;
animation-play-state: running;
animation: allo 3s ease-in infinite;
}
}
