body{
width: 100%;
background-image: url("../image/noise.png");
background-color: #0202E0;
}

@font-face {
font-family: "DIN Condensed";
src: url("../font/DIN\ Condensed\ Bold.ttf") format("truetype");
font-style: normal;
font-weight: bold;
}

h1{
font-family: "DIN Condensed";
font-size: 10vw;
}

.section_first{
width: 100%;
height: 36vw;
margin-top: 1vw;
}

.blue_allo {
width: 100vw;
height: 40vw;
position: absolute;
animation-play-state: running;
animation: allo 3s ease-in infinite;
}

.blue_allo:hover {
animation-play-state: paused;
}

.allo {
width: 100%;
}

@keyframes allo {
0% {left: 100%;}
100%{left: -100%;}
}

.black_horizontal_rec{
width: 100vw;
height: 10vw;
position: absolute;
margin-top: 30vw;
background-image: url(../image/black\ glitch\ rectangle.svg);
background-repeat: no-repeat;
background-size: 100%;
animation: alarm 6s ease-in infinite;
}

@keyframes alarm {
0% {color: black;}
50% {color: #ffffff;}
100% {color: black;}
}

.black_horizontal_rec h1{
text-align: center;
margin-top: 2.25%;
font-size: 3vw;
white-space: nowrap;
color: #0202E0;
animation: center 2s ease-in-out infinite;
}

@keyframes center {
0% {color: #0202E0;}
50% {color: #FC6749;}
100% {color: #0202E0;}
}

.section_second {
width: 100%;
height: 38vw;
}

.horace {
background-image: url(../image/Horace_black_rectangle.svg);
position: absolute;
width: 38vw;
height: 38vw;
top: 37vw;
left: -2vw;
}

.horace img{
position: absolute;
width: 44vw;
height: 40vw;
top: -2vw;
left: -2vw;
animation: horace 1s ease-in-out infinite;
animation-play-state: paused;
}

.horace img:hover {
animation-play-state: running;
}

@keyframes horace {
0% {transform: scale(1);}
50% {transform: scale(1.2);}
100% {transform: scale(1);}
}

.orange_rectangles {
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 64vw;
position: absolute;
height: 15vw;
top: 37vw;
margin-left: 36vw;
}

.orange1 {
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange1:hover{
animation-play-state: running;
}

@keyframes hover_blue {
0% {background-color: #FC6749;box-shadow:inset 0.1vw 0.1vw #0202E0,inset 0.25vw 0.25vw 0.5vw #732010;}
100% {background-color: #0202E0;box-shadow:inset 0.1vw 0.1vw #0202E0,inset 0.25vw 0.25vw 0.5vw #0e0e5f;}
}

.orange2 {
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange2:hover{
animation-play-state: running;
}

.orange3 {
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange3:hover{
animation-play-state: running;
}

.orange4 {
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange4:hover{
animation-play-state: running;
}

.orange5 {
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange5:hover{
animation-play-state: running;
}

.orange6 {
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange6:hover{
animation-play-state: running;
}

.orange7 {
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange7:hover{
animation-play-state: running;
}

.orange8 {
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange8:hover{
animation-play-state: running;
}

.orange9 {
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange9:hover{
animation-play-state: running;
}

.orange10 {
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange10:hover{
animation-play-state: running;
}

.orange11 {
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange11:hover{
animation-play-state: running;
}

.orange12 {
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange12:hover{
animation-play-state: running;
}

.orange13 {
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange13:hover{
animation-play-state: running;
}

.orange14 {
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange14:hover{
animation-play-state: running;
}

.orange15 {
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange15:hover{
animation-play-state: running;
}

.orange16 {
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange16:hover{
animation-play-state: running;
}

.orange17 {
flex-wrap: wrap;
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange17:hover{
animation-play-state: running;
}

.orange18 {
flex-wrap: wrap;
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange18:hover{
animation-play-state: running;
}

.orange19 {
flex-wrap: wrap;
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange19:hover{
animation-play-state: running;
}

.orange20 {
flex-wrap: wrap;
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange20:hover{
animation-play-state: running;
}

.orange21 {
flex-wrap: wrap;
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange21:hover{
animation-play-state: running;
}

.orange22 {
flex-wrap: wrap;
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange22:hover{
animation-play-state: running;
}

.orange23 {
flex-wrap: wrap;
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange23:hover{
animation-play-state: running;
}

.orange24 {
flex-wrap: wrap;
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange24:hover{
animation-play-state: running;
}

.orange25 {
flex-wrap: wrap;
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange25:hover{
animation-play-state: running;
}

.orange26 {
flex-wrap: wrap;
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange26:hover{
animation-play-state: running;
}

.orange27 {
flex-wrap: wrap;
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange27:hover{
animation-play-state: running;
}

.orange28 {
flex-wrap: wrap;
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange28:hover{
animation-play-state: running;
}

.orange29 {
flex-wrap: wrap;
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange29:hover{
animation-play-state: running;
}

.orange30 {
flex-wrap: wrap;
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange30:hover{
animation-play-state: running;
}

.orange31 {
flex-wrap: wrap;
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange31:hover{
animation-play-state: running;
}

.orange32 {
flex-wrap: wrap;
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange32:hover{
animation-play-state: running;
}

.orange33 {
flex-wrap: wrap;
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange33:hover{
animation-play-state: running;
}

.orange34 {
flex-wrap: wrap;
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange34:hover{
animation-play-state: running;
}

.orange35 {
flex-wrap: wrap;
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange35:hover{
animation-play-state: running;
}

.orange36 {
flex-wrap: wrap;
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange36:hover{
animation-play-state: running;
}

.orange37 {
flex-wrap: wrap;
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange37:hover{
animation-play-state: running;
}

.orange38 {
flex-wrap: wrap;
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange38:hover{
animation-play-state: running;
}

.orange39 {
flex-wrap: wrap;
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange39:hover{
animation-play-state: running;
}

.orange40 {
flex-wrap: wrap;
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange40:hover{
animation-play-state: running;
}

.orange41 {
flex-wrap: wrap;
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange41:hover{
animation-play-state: running;
}

.orange42 {
flex-wrap: wrap;
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange42:hover{
animation-play-state: running;
}

.orange43 {
flex-wrap: wrap;
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange43:hover{
animation-play-state: running;
}

.orange44 {
flex-wrap: wrap;
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange44:hover{
animation-play-state: running;
}

.orange45 {
flex-wrap: wrap;
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange45:hover{
animation-play-state: running;
}

.orange46 {
flex-wrap: wrap;
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange46:hover{
animation-play-state: running;
}
  
.orange47 {
flex-wrap: wrap;
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange47:hover{
animation-play-state: running;
}
  
.orange48 {
flex-wrap: wrap;
width: 4vw;
height: 5vw;
background-color: #FC6749;
box-shadow: inset 0.1vw 0.1vw #0202E0, inset 0.25vw 0.25vw 0.5vw #732010;
animation: hover_blue 1s ease-in-out infinite;
animation-play-state: paused;
}

.orange48:hover{
animation-play-state: running;
}

.first_text{
position: absolute;
width: 65vw;
height: 23vw;
background-color: white;
margin-left: 36vw;
top: 52vw;
overflow-y: hidden;
}

.first_text p {
font-family: "DIN Condensed";
font-style: normal;
font-weight: bold;
font-size: 1.7vw;
letter-spacing: 0.05vw;
color: black;
margin: 1vw;
animation: letters 2s ease-in-out infinite;
animation-play-state: paused;
}

.first_text p:hover{
animation-play-state: running;
}

@keyframes letters {
0% {letter-spacing: 0.05vw;}
50%{letter-spacing: 2vw;}
100% {letter-spacing: 0.05vw;}
}

.section_third {
width: 100%;
height: 41vw;
}
.white_rec_a {
background-color: white;
position: absolute;
width: 18.35vw;
height: 30vw;
top: 75vw;
box-shadow: inset 0.25vw 0.25vw 0.5vw #797979;
}

.white_rec_a:hover {
background-color: #FC6749;
box-shadow: inset 0.25vw 0.25vw 0.5vw #964116;
}

.a_move img{
position: absolute;
width: 6vw;
height: 10vw;
}

.a_move {
position: absolute;
animation: a_letter 2s ease-in-out infinite;
}

@keyframes a_letter {
0% {margin-left: 0vw; margin-top: 0vw;}
33% {margin-left: 10vw; margin-top: 10vw;}
66% {margin-left: 0vw; margin-top: 20vw;}
100% {margin-left: 0vw; margin-top: 0vw;}
}

.a_move_middle {
margin-top: 1.25vw;
animation: a_middle 0.5s ease-in-out infinite;
}

@keyframes a_middle {
0%{margin-left: -1vw;}
50% {margin-left: 1vw;}
100%{margin-left: -1vw;}
}

.black_rec_4 {
background-color: black;
position: absolute;
width: 18.35vw;
height: 30vw;
top: 75vw;
margin-left: 17.6vw;
background-position: 348.65vw 18.35vw;
background-image: url(../image/4_animation.svg);
animation: four 3s steps(19) infinite;
background-repeat: no-repeat;
}

@keyframes four {
0% {background-position: 0vw top;}
100% {background-position: -348.65vw top;}
}

.blue_rec_wire {
display: flex;
background-color: #0202E0;
position: absolute;
width: 12vw;
height: 30vw;
top: 75vw;
margin-left: 35.95vw;
box-shadow: inset 0.25vw 0.25vw 0.5vw #030356;
overflow-x: hidden;
}

.blue_rec_wire img {
width: 18vw;
margin-left: -9vw;
animation: wire 2s ease-in infinite;
}

@keyframes wire {
0% {transform: scaleX(0);}
50% {transform: scaleX(1.1);}
100% {transform: scaleX(0);}
}

.blue_rec_wire:hover {
background-color: rgb(0, 0, 0);
}

.black_rec_statue {
background-color: black;
position: absolute;
width: 35vw;
height: 35vw;
top: 75vw;
margin-left: 66vw;
}

.statue img {
position: absolute;
width: 48vw;
height: 40vw;
top: 70vw;
margin-left: 58vw;
z-index: 2;
animation: statue 0.3s linear infinite;
}

@keyframes statue {
0% {opacity: 1;}
30%{opacity: 0;}
80% {opacity: 1;}
88%{opacity: 0;}
100% {opacity: 1;}
}

.white_rec_1 {
position: absolute;
width: 29vw;
height: 3vw;
margin-top: 0vw;
margin-left: 71vw;
background-color: white;
z-index: 1;
animation: rec1 1s ease-in-out infinite;
}

.white_rec_1:hover {
background-color: #FC6749;
}

@keyframes rec1 {
0% {margin-left: 100vw; z-index: 3; opacity: 1;}
50% {margin-left: 40vw; z-index: 1; opacity: 1;}
100% {margin-left: 100vw;z-index: 1; opacity: 0;}
}

.white_rec_2 {
position: absolute;
width: 35vw;
height: 2vw;
margin-top: 5vw;
margin-left: 65vw;
background-color: white;
z-index: 1;
animation: rec2 4s ease-in-out infinite;
}

.white_rec_2:hover {
background-color: #FC6749;
}
  

@keyframes rec2 {
0% {margin-left: 73vw; z-index: 1; opacity: 1;}
50% {margin-left: 40vw; z-index: 3; opacity: 1;}
100% {margin-left: 100vw;z-index: 1; opacity: 0;}
}

.white_rec_3 {
position: absolute;
width: 27vw;
height: 4vw;
margin-top: 8vw;
margin-left: 73vw;
background-color: white;
z-index: 1;
animation: rec3 2s ease-in-out infinite;
}

.white_rec_3:hover {
background-color: #FC6749;
}
  
@keyframes rec3 {
0% {margin-left: 100vw; z-index: 3; opacity: 1;}
50% {margin-left: 35vw; z-index: 1; opacity: 1;}
100% {margin-left: 100vw;z-index: 1; opacity: 0;}
}

.white_rec_4 {
position: absolute;
width: 39vw;
height: 1vw;
margin-top: 19vw;
margin-left: 61vw;
background-color: white;
z-index: 1;
animation: rec4 0.6s ease-in-out infinite;
}

.white_rec_4:hover {
background-color: #FC6749;
}
  

@keyframes rec4 {
0% {margin-left: 73vw; z-index: 1;}
50% {margin-left: 59vw; z-index: 1;}
100% {margin-left: 73vw;z-index: 1;}
}

.white_rec_5 {
position: absolute;
width: 35vw;
height: 2vw;
margin-top: 26vw;
margin-left: 65vw;
background-color: white;
z-index: 1;
animation: rec5 4s ease-in-out infinite;
}

.white_rec_5:hover {
background-color: #FC6749;
}
  

@keyframes rec5 {
0% {margin-left: 100vw; z-index: 3; opacity: 1;}
50% {margin-left: 27vw; z-index: 1; opacity: 1;}
100% {margin-left: 100vw;z-index: 1; opacity: 0;}
}

.white_rec_6 {
position: absolute;
width: 39vw;
height: 1vw;
margin-top: 32vw;
margin-left: 61vw;
background-color: white;
z-index: 1;
animation: rec6 2s ease-in-out infinite;
}

.white_rec_6:hover {
background-color: #FC6749;
}
  
@keyframes rec6 {
0% {margin-left: 100vw; z-index: 3; opacity: 1;}
50% {margin-left: 27vw; z-index: 1; opacity: 1;}
100% {margin-left: 100vw; z-index: 1; opacity: 0;}
}

.blue_running_text {
position: absolute;
background-color: black;
width: 100vw;
height: 6vw;
margin-top: 35vw;
}

.blue_running_text h1{
color: #0202E0;
top: 2vw;
font-size: 3vw;
text-transform: uppercase;
overflow: hidden; 
white-space: nowrap; 
position: absolute; 
animation: running_text 7s ease-in-out infinite;
}

.blue_running_text h1:hover {
color: #FC6749;
}

@keyframes running_text {
0% {left: 100%;}
100% {left: -120%;}
}

.section_four {
width: 100%;
height: 59vw;
}

.wire_orange_sec4 img{
position: absolute;
width: 52vw;
margin-top: 34vw;
margin-left: 2vw;
animation: code_orange 0.8s linear infinite;
}

.orange_wires_move {
position: absolute;
background-color: #FC6749;
width: 38vw;
height: 24vw;
margin-top: 0vw;
background-repeat: no-repeat;
background-image: url(../image/orange_wires_moved.svg);
}

.durer_black_rec {
position: absolute;
background-color: black;
width: 38vw;
height: 35vw;
margin-top: 24vw;
}

.durer img{
position: absolute;
margin-left: -6vw;
width: 55vw;
height: 42vw;
margin-top: 17vw;
animation: statue 0.3s linear infinite;
}

.white_bubble img{
position: absolute;
margin-left: 28vw;
width: 21vw;
height: 26vw;
margin-top: 15vw;
z-index: 2;
}
.white_bubble {
animation: bubble_frame 2s ease-in-out infinite;
}

@keyframes bubble_frame {
0% {transform: scaleY(0.5);}
50% {transform: scaleY(1);}
100% {transform: scaleY(0.5);}
}

.code_elements_orange img{
position: absolute;
width: 48vw;
height: 39vw;
margin-top: 0vw;
margin-left: 53vw;
animation: code_orange 0.8s linear infinite;
}

@keyframes code_orange {
0% {opacity: 1;}
33% {opacity: 0;}
80% {opacity: 1;}
88% {opacity: 0;}
100% {opacity: 1;}
}

.section_five{
width: 100vw;
height: 47vw;
}

.ears {
position: absolute;
margin-top: 0vw;
width: 65vw;
height: 10vw;
background-color: #FC6749;
box-shadow:inset 0.25vw 0.25vw 0.5vw #732010;
z-index: 2;
}

.ear1 img{
position: absolute;
width: 10vw;
height: 12vw;
margin-top: 118vw;
margin-left: 2vw;
z-index: 2;
animation: ear 1s ease-in-out infinite;
}

@keyframes ear {
0% {margin-top: 0vw;}
50% {margin-top: -10vw;}
100% {margin-top: 0vw;}
}

.ear2 img{
position: absolute;
width: 10vw;
height: 12vw;
margin-top: 118vw;
margin-left: 12vw;
z-index: 2;
animation: ear 1s ease-in-out infinite;
animation-delay: 0.2s;
}

.ear3 img{
position: absolute;
width: 10vw;
height: 12vw;
margin-top: 118vw;
margin-left: 22vw;
z-index: 2;
animation: ear 1s ease-in-out infinite;
animation-delay: 0.4s;
}

.ear4 img{
position: absolute;
width: 10vw;
height: 12vw;
margin-top: 118vw;
margin-left: 32vw;
z-index: 2;
animation: ear 1s ease-in-out infinite;
animation-delay: 0.6s;
}

.ear5 img{
position: absolute;
width: 10vw;
height: 12vw;
margin-top: 118vw;
margin-left: 42vw;
z-index: 2;
animation: ear 1s ease-in-out infinite;
animation-delay: 0.8s;
}

.ear6 img{
position: absolute;
width: 10vw;
height: 12vw;
margin-top: 118vw;
margin-left: 52vw;
z-index: 2;
animation: ear 1s ease-in-out infinite;
animation-delay: 1s;
}

.telefon {
position: absolute;
margin-top: -12vw;
margin-left: 63vw;
z-index: 4;
}

.round_telefon {
width: 34vw;
height: 34vw;
animation: number 19s ease-in-out infinite;
}

@keyframes number {
0% {transform: rotate(0deg);}
4% {transform: rotate(47deg);}
8% {transform: rotate(0deg);}
12% {transform: rotate(95deg);}
16% {transform: rotate(0deg);}
20% {transform: rotate(71deg);}
24% {transform: rotate(0deg);}
28% {transform: rotate(119deg);}
32% {transform: rotate(0deg);}
36% {transform: rotate(47deg);}
40% {transform: rotate(0deg);}
44% {transform: rotate(167deg);}
48% {transform: rotate(0deg);}
52% {transform: rotate(95deg);}
56% {transform: rotate(0deg);}
60% {transform: rotate(191deg);}
64% {transform: rotate(0deg);}
68% {transform: rotate(119deg);}
72% {transform: rotate(0deg);}
76% {transform: rotate(71deg);}
80% {transform: rotate(0deg);}
84% {transform: rotate(47deg);}
88% {transform: rotate(0deg);}
92% {transform: rotate(95deg);}
100% {transform: rotate(0deg);}
}

.telefon_element {
position: absolute;
width: 13vw;
height: 4vw;
margin-top: -14vw;
margin-left: 23vw;
}

.black_allo {
position: absolute;
width: 100vw;
height: 32vw;
background-color: black;
z-index: 3;
margin-top: 10vw;
}

.black_allo img{
position: absolute;
width: 100vw;
height: 40vw;
margin-top: -4vw;
animation: black_allo 3s ease-in infinite;
}

@keyframes black_allo {
0% {left: -100%;}
100%{left: 100%;}
}

.footer {
background-color: white;
width: 100vw;
height: 5vw;
position: absolute;
margin-top: 42vw;
}

.footer h1{
color: #0202E0;
font-size: 3vw;
white-space: nowrap;
animation: footer 4s linear infinite;
margin-top: 1.5vw;
animation-play-state:running;
}

.footer h1:hover{
animation-play-state: paused;
}

@keyframes footer {
0% {margin-left: 100%;}
100% {margin-left: -120%;}
}

.footer img {
width: 5vw;
height: 6vw;
margin-left: 95vw;
margin-top: -5vw;
}